* {
  box-sizing: border-box;
}

/* universal styles */

.teal {
  color: #007171;
}

.bold {
  font-weight: bold;
}

/* begin content styles */

body {
  font-family: Georgia;
  font-size: 21px;
  min-width: 400px;
}

p {
  margin: 30px 0;
}


header {
  position: sticky;
  top: 0;
  z-index: 2
}

.title {
  width: 100%;
  color: white;
  background-color: black;
  font-family: Montserrat, sans-serif;
  font-size: 55px;
  padding: 10px 4px;
  margin: 0;
}

#navbar {
  height: 60px;
  text-align: center;
  display: block;
  position: sticky;
  top: 83px;
  z-index: 1
}

#navbar span {
  position: relative;
  border: 2px solid;
  border-radius: 12px;
  background-color: teal;
  padding: 10px 30px;
  margin: 12px;
}

#navbar a {
  color: white;
  font-size: 18px;
}

#publish-time {
  color: gray;
  font-family: Georgia;
  font-size: 18px;
  margin: 20px 0;
}

.project-type {
  color: teal;
  margin: 40px 0;
}

figure {
  margin: 5px auto;
}

img {
  width: 80%;
}

#technical .sample {
  text-align: center;
  display: inline-block;
  width: 340px;
  height: 250px;
  margin: 40px 30px;
}

#relationship-marketing .sample {
  text-align: center;
  display: inline-block;
  width: 340px;
  height: 250px;
  margin: 40px 30px;
}

#organizational .sample {
  text-align: center;
  display: inline-block;
  width: 340px;
  height: 250px;
  margin: 40px 30px;
}

.bottom-to-top-link {
  color: teal;
}

footer {
  background-color: black;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  margin: 0px 0 0;
}

footer p {
  padding: 20px 4px 0;
  font-weight: bold;
}

footer a {
  font-weight: normal;
  color: teal;
}

h6 {
  padding: 0 4px 8px;
}
